.about-character-text{
  text-align: center;
  margin: 0;
  padding: 0;
  >ul{
    display: flex;
    flex-wrap: wrap;
    >li{
      width: 150px;
    }
  }
}

.about-character{
  display: flex;
  >img{
    height: 750px;
    width: 750px;
  }
}
