<!--шаблонна-->
<!--<form (ngSubmit)="onSubmit()">-->
<!--  <select type="text" name="username" [(ngModel)]="form.username">-->
<!--    <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>-->
<!--  </select>-->
<!--  <button [disabled]="!form.username">submit</button>-->
<!--</form>-->

<!--реактивна-->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <select type="text" name="username" formControlName="username">
      <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
    </select>
  <button [disabled]="form.invalid">submit</button>
</form>
